<html>
	<head>
		<title>Contact Book</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  		<link rel="stylesheet" type="text/css" href="/static/style.css">
		<link rel="shortcut icon" href="/static/favicon.ico">
	</head>
	<body>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">Contact Book</a>
		    	</div>
		    	<ul class="nav navbar-nav">
		    		<li><a href="/">Home</a></li>
					<li><a href="/login">Login</a></li>
					<li><a href="/signup">Signup</a></li>
					{% if username %}
		            <li><a href="/books">Contact Books</a></li>
		            <li><a href="/connectivity">Connectivity</a></li>
					<li><a>&#x1f464 {{ username }}</a></li>
					<li><a href="/logout">Logout</a></li>
		            {% endif %}
				</ul>
			</div>
		</nav>
        {% if success %}
        <div class="alert alert-success alert-dismissible">
	    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <h3><strong>Success</strong></h3><p>{{ success }}</p>
		</div>
        {% endif %}
        {% if info %}
        <div class="alert alert-info alert-dismissible">
	    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <h3><strong>Information</strong></h3><p>{{ info }}</p>
		</div>
        {% endif %}
		{% if warning %}
        <div class="alert alert-warning alert-dismissible">
	    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <h3><strong>Warning</strong></h3><p>{{ warning }}</p>
		</div>
        {% endif %}
		{% if error %}
        <div class="alert alert-danger alert-dismissible">
	    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <h3><strong>Error</strong></h3><p>{{ error }}</p>
        </div>
        {% endif %}
		<h1><a href="/new_book">New Book</a></h1>
		<table class="table">
			<tr>
				<th>Name</th>
				<th>Last Modified</th>
				<th>Privacy</th>
			</tr>
			{% for row in books %}
			<tr>
				<td><a href="view_book?bookname={{ row[0] }}">{{ row[0] }}</a></td>
				<td>{{ row[1] }}</td>
				<td>{{ row[2] }}</td>
			</tr>
			{% endfor %}
		</table>
	</body>
</html>

